*.json
.env
.env.*
!.env.example
*secret*.yaml
!*secret*-template.yaml
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
!example-*.tfvars
*.save
*.bak
*.swp
*~
.DS_Store
kubeconfig
kubeconfig.yaml
